.App {
  min-height: 100vh;
  background-color: #fbab7e;
  background-image: linear-gradient(62deg, #fbab7e 0%, #f7ce68 100%);
}

.search-form {
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar {
  width: 50%;
  border: none;
  padding: 10px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.search-bar:focus {
  outline: none;
}

.search-btn {
  background-color: #8bc6ec;
  background-image: linear-gradient(135deg, #8bc6ec 0%, #9599e2 100%);

  border: none;
  padding: 10px 20px;
  color: white;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  cursor: pointer;
}

.content {
  width: 50%;
  max-height: 50%;
}

.recepies {
  display: flex;
  align-items: center;
  /* justify-content: center; */
  /* flex-direction: column; */

  justify-content: space-evenly;
  flex-wrap: wrap;
  height: 20%;
}

.image {
  display: block;
  margin: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  border-radius: 50%;
}

.list {
  padding: 0 30px;
  letter-spacing: 0.786px;
  font-family: cursive;
}

.items {
  padding: 5px 0;
  margin: 10px 0;
}

h1 {
  padding: 0 30px;
  color: #ff9a8b;
  margin-bottom: 7px;
}

h2 {
  padding: 0 30px;
  color: #ff6a88;
  margin-bottom: 7px;
}
